<nav class="navbar">

  <div class="navbar-container">

    <a routerLink="/" class="logo">
      🍴 SmartCanteen
    </a>

    <div class="nav-links">

      <!-- Student -->
      @if (isLoggedIn && isStudent) {

        <a routerLink="/menu">
          Menu
        </a>

        <a routerLink="/cart">
          🛒 Cart
        </a>

        <a routerLink="/my-orders">
          📦 My Orders
        </a>

      }

      <!-- Staff -->
      @if (isLoggedIn && isStaff) {

        <a routerLink="/staff-dashboard">
          👨‍🍳 Staff Dashboard
        </a>

      }

      <!-- Admin -->
      @if (isLoggedIn && isAdmin) {

        <a routerLink="/admin-dashboard">
          👨‍💼 Admin Dashboard
        </a>

      }

      <!-- Logged-out user -->
      @if (!isLoggedIn) {

        <a routerLink="/login">
          Login
        </a>

        <a routerLink="/register">
          Register
        </a>

      }

      <!-- Logout -->
      @if (isLoggedIn) {

        <button
          class="logout-button"
          (click)="logout()">
          Logout
        </button>

      }

    </div>

  </div>

</nav>